.width{
	width: 115px;
	height: 65px;
}
ul{
	font-size: 16px;
	list-style-type: none;
	
}
a{
	color: white;

}
header{
	background: #0020F4;
	width: 1920px;
	height: 388px;
}
.sizze{
	font-size: 28px
}
.size{
	width: 1195px;
	height: 600px;
}
#size{
	width: 219px;
	height: 219px;

}
.paragraf{
	font-size: 16px;


}
